.logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logoContainer .logo {
    height: 25px;
    width: 25px;
}

.pwnCount {
    text-align: right !important;
}
